body {
    background-color: rgb(255, 167, 196);
}

header { 
    font-size: 30px;
    display: flex;
    flex-direction:column;
    place-items: center;
}

.titulo {
    font-size: 45px;
    display: flex;
    flex-direction:column;
    place-items: center;
}
.botao a{
    color: #fff;
    text-decoration: none;
}
.botao a:hover{
    background: rgb(255, 92, 119);
}
.botao{
    /* font-size: 28px; */
    font-weight: 700;
    border: none;
    /* margin: 10px; */
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.btn-pink{
    background: rgb(255, 140, 159);
    width: fit-content;
    /* padding: .5em 1em; */
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    place-items: center;}

.login {
    font-size: 35px;
}
form {
    font-size: 20px;
}
.box { 
    width: 150px;
	display: inline-block;
    text-decoration: none;
    border: none;
    margin: 60px;
}
.btn-catalogo {
    background: rgb(255, 140, 159);
    width: fit-content;
    padding: .5em 1em;
    border-radius: 10px;
    list-style-type: none;
}
.menu ul{
    list-style: none;
    background: rgb(255, 140, 159);
    margin: 5px;
    padding: 5px;
    width: 90px;
}
.menu ul ul{
    background: none;
    list-style:none;
}
.menu li a{
    display:block;
    color: white;
    padding: 8px 5px;
    text-decoration: none;
    font-weight: bold;
}
.menu li a:hover{
    background: rgb(255, 92, 119);
}
.menu li ul{
    display: none;
}
.menu li:hover > ul{
    display: block;
}
